<%- include('./partials/header') %>

<h1>Test</h1>
<div id="containerView1">
    <!-- <img id="containerView1Photo" src="https://i.imgur.com/a0jns8O.png" alt="doctor with blue background"> -->
    <div id="rightContainerView1">
        <h2>If you want...</h2>
        <h3>a beach body that lasts</h3>
        <button id="continuebtn">Continue
            <form action="./view2.ejs" method="POST">
                <input type="submit">   
            </form>
        </button>
    </div>
</div>

<%- include('./partials/footer') %>