<%- include('../partials/header') %>

<div class="containerview">
    <img class="containerviewphoto" src="https://i.imgur.com/mq2HdXx.png" alt="doctor with suitcase">
    <div class="rightcontainer">
        <div class="text-box">
            <form method="post" action="/surveys/view5">      
                <fieldset>
                    <legend>People in different ages have different understandings of their hormones. What best describes you?<legend><br>            
                        <input type="checkbox" name="hormonestatus" value="not using any hormones"> not using any hormones<br>
                        <input type="checkbox" name="hormonestatus" value="birth control for pregnancy"> birth control for pregnancy<br>
                        <input type="checkbox" name="hormonestatus" value="birth control for symptoms"> birth control for symptoms<br>
                        <input type="checkbox" name="hormonestatus" value="progesterone only"> progesterone only<br>
                        <input type="checkbox" name="hormonestatus" value="I take HRT/estrogen"> I take HRT/estrogen<br>
                        <input type="checkbox" name="hormonestatus" value="I take TRT/testosterone"> I take TRT/testosterone<br>
                </fieldset>
            <br>
        </div>

            <button class="btn btn-success mb-3 mr-6 leftbtn" type="submit">Back
                <form action="./view4" method="POST"> 
                    <input type="submit">
                </form>
            </button>
            <button class="btn btn-success mb-3 ml-6 rightbtn" type="submit">Save
                <form action="./view6" method="POST"> 
                    <input type="submit">
                </form>
            </button>
        <div class="btn-box"></div>
        <button class="btn btn-success saveandnext">Save And Next
            <form action="./view6" method="POST"> 
                <input type="submit">
            </form>
        </button>
    </div>
</div>

<%- include('../partials/footer') %>