<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/9P9idMf.png" alt="doctor standing with thumbs up">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center">
            <div class="text-box container display-4 text-center">
                <form method="POST" action="/surveys/view3/">
                    <fieldset>
                        <legend style="font-size: 1.3rem;" class="text-center form-inline">Besides shedding unwanted pounds and muscle toning, what is the #1 priority for you?
                            <legend><br>
                                <input type="checkbox" name="toppriority" value="better sleep"> better sleep<br>
                                <input type="checkbox" name="toppriority" value="fewer cravings"> fewer cravings<br>
                                <input type="checkbox" name="toppriority" value="more energy"> more energy<br>
                                <input type="checkbox" name="toppriority" value="better mood"> better mood<br>
                                <input type="checkbox" name="toppriority" value="fit into clothes"> fit into clothes<br>
                                <input type="checkbox" name="toppriority" value="protect health"> protect health<br>
                    </fieldset>
                    <input type="submit" style="width: 50vmin;" class="btn btn-success btn-lg float-center mt-3" value="Save And Next">
                </form>
            </div>
            <div class="btn-box">
                <form action="/surveys/view2" method="POST">
                    <input type="submit" type="submit" style="width: 23vmin;" class="btn btn-success btn-lg float-center mr-4 mt-3" value="Back">
                </form>
                <form action="/surveys/view3" method="POST">
                    <input type="submit" style="width: 23vmin;" class="btn btn-success btn-lg float-center mr-0.5 mt-3" value="Next">
                </form>
            </div>
        </div>

        <%- include('../partials/footer') %>