<%- include('../partials/header') %>

<div class="containerView">
    <img class="containerViewPhoto" src="https://i.imgur.com/0Hy4SvR.png" alt="doctor standing with thumbs up">
    <div class="rightContainer">
        <div class="text-box">
            <h2>Necessities of balancing your hormones</h2>
            <p>This survey is to help you discover the reasons for the failure in your weight loss efforts. The results of this survey will be emailed to you along with the analysis of our experienced experts.</p>
        </div>
        <div class="btn-box2"></div>
            <button class="btn btn-success leftbtn2">Back to home
                <form action="./" method="POST">
                    <input type="submit">
                </form>
            </button>
            <button class="btn btn-success rightbtn2">Fill out the form
                <form action="./view3" method="POST">
                    <input type="submit">
                </form>
            </button>
    </div>
</div>

<%- include('../partials/footer') %>