<%- include('../partials/header') %>

<div class="containerview">
    <img class="containerviewphoto" src="https://i.imgur.com/mWNvFsn.png" alt="doctor with too much paperwork">
    <div class="rightcontainer">
        <div class="text-box">
            <form method="post" action="/surveys/view6">      
                <fieldset>
                    <legend>Are you at risk for the following?<legend><br>            
                        <input type="checkbox" name="healthrisks1" value="heart disease or stroke"> heart disease or stroke<br>
                        <input type="checkbox" name="healthrisks1" value="heavy/polyps"> heavy/polyps <br>
                        <input type="checkbox" name="healthrisks1" value="endometriosis"> endometriosis<br>
                        <input type="checkbox" name="healthrisks1" value="severe pms"> severe pms<br>
                        <input type="checkbox" name="healthrisks1" value="pcos or progesterone"> pcos or progesterone<br>
                        <input type="checkbox" name="healthrisks1" value="partial hysterectomy"> partial hysterectomy<br>
                        <input type="checkbox" name="healthrisks1" value="full hysterectomy"> full hysterectomy<br>
                        <input type="checkbox" name="healthrisks1" value="high blood pressure"> high blood pressure<br>
                        <input type="checkbox" name="healthrisks1" value="diabetes"> diabetes<br>
                        <input type="checkbox" name="healthrisks1" value="menopause"> menopause<br>
                        <input type="checkbox" name="healthrisks1" value="nash"> nash<br>
                        <input type="checkbox" name="healthrisks1" value="high cholesterol"> high cholesterol<br>
                </fieldset>
            <br>
        </div>

            <button class="btn btn-success mb-3 mr-6 leftbtn" type="submit">Back
                <form action="./view5" method="POST"> 
                    <input type="submit">
                </form>
            </button>
            <button class="btn btn-success mb-3 ml-6 rightbtn" type="submit">Save
                <form action="./view7" method="POST"> 
                    <input type="submit">
                </form>
            </button>
        <div class="btn-box"></div>
        <button class="btn btn-success saveandnext">Save And Next
            <form action="./view7" method="POST"> 
                <input type="submit">
            </form>
        </button>
    </div>
</div>

<%- include('../partials/footer') %>