<%- include('../partials/header') %>

<div class="containerView">
    <img class="containerViewPhoto" src="https://i.imgur.com/9P9idMf.png" alt="doctor standing with thumbs up">
    <div class="rightContainer">
        <div class="text-box">
            <form method="post" action="/surveys/view3">      
                <fieldset>
                    <legend>Besides shedding unwanted pounds and muscle toning, what is the #1 priority for you?<legend><br>            
                        <input type="checkbox" name="topPriority" value="better sleep"> better sleep<br>
                        <input type="checkbox" name="topPriority" value="fewer cravings"> fewer cravings<br>
                        <input type="checkbox" name="topPriority" value="more energy"> more energy<br>
                        <input type="checkbox" name="topPriority" value="better mood"> better mood<br>
                        <input type="checkbox" name="topPriority" value="fit into clothes"> fit into clothes<br>
                        <input type="checkbox" name="topPriority" value="protect health"> protect health<br>
                </fieldset>
            <br>
        </div>

            <button class="btn btn-success mb-3 mr-6 leftbtn" type="submit">Back
                <form action="./view2" method="POST"> 
                    <input type="submit">
                </form>
            </button>
            <button class="btn btn-success mb-3 ml-6 rightbtn" type="submit">Save
                <form action="./view4" method="POST"> 
                    <input type="submit">
                </form>
            </button>
        <div class="btn-box"></div>
        <button class="btn btn-success saveandnext">Save And Next
            <form action="./view4" method="POST"> 
                <input type="submit">
            </form>
        </button>
    </div>
</div>

<%- include('../partials/footer') %>