<%- include('../partials/header') %>

<div class="containerview">
    <img class="containerviewphoto" src="https://i.imgur.com/dBDM8Ly.png" alt="doctor in lab">
    <div class="rightcontainer">
        <div class="text-box">
            <form method="post" action="/surveys/view4/<%= surveyId %>">      
                <fieldset>
                    <legend>Our sex and hormones are quite possibly the most underrated factor in losing weight. What sex best describes you?<legend><br>            
                        <input type="checkbox" name="sexgender" value="male"> male<br>
                        <input type="checkbox" name="sexgender" value="female"> female<br>
                        <input type="checkbox" name="sexgender" value="mtf"> mtf<br>
                        <input type="checkbox" name="sexgender" value="ftm"> ftm<br>
                        <input type="checkbox" name="sexgender" value="non-binary bigender"> non-binary bigender<br>
                        <input type="checkbox" name="sexgender" value="self-identify"> self-identify<br>
                        <input type="checkbox" name="sexgender" value="asexual"> asexual<br>
                        <input type="checkbox" name="sexgender" value="prefer not to say"> prefer not to say<br>
                </fieldset>
                <input type="submit" style="width: 50vmin;" class="btn btn-success btn-lg float-center mt-3" value="Save And Next">
            </form>
            <br>
        </div>

            <button class="btn btn-success mb-3 mr-6 leftbtn" type="submit">Back
                <form action="./view3" method="POST"> 
                    <input type="submit">
                </form>
            </button>
            <button class="btn btn-success mb-3 ml-6 rightbtn" type="submit">Save
                <form action="./view5" method="POST"> 
                    <input type="submit">
                </form>
            </button>
        <div class="btn-box"></div>
        <button class="btn btn-success saveandnext">Save And Next
            <form action="./view5" method="POST"> 
                <input type="submit">
            </form>
        </button>
    </div>
</div>

<%- include('../partials/footer') %>