<%- include('../partials/header') %>

<div class="containerview">
    <img class="containerviewphoto" src="https://i.imgur.com/HNpd6SD.png" alt="doctor with two thumbs up">
    <div class="rightcontainerview">
        <h3>Scan the QR code below to access your Metabolism Maximizer report.</h3>
        <br>
        <img src="https://i.imgur.com/lhR9dqA.png" alt="qr code for Metabolism Maximizer report">
    </div>
</div>

<%- include('../partials/footer') %>