<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/qHuaV6P.png" alt="doctor with xrays">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center">
            <div class="text-box container display-4 text-center">
                <form method="POST" action="/surveys/view9/<%= survey._id %>">
                    <fieldset>
                        <legend style="font-size: 1.3rem;" class="text-center form-check">What best describes your body shape?
                            <legend><br>
                                <div class="checkbox">
                                    <input class="form-check-input" type="radio" name="bodyshape" value="curvy"> curvy<br>
                                    <input class="form-check-input" type="radio" name="bodyshape" value="apple shape"> apple shape<br>
                                    <input class="form-check-input" type="radio" name="bodyshape" value="average shape"> average shape<br>
                                    <input class="form-check-input" type="radio" name="bodyshape" value="45 and losing my shape"> 45 and losing my shape<br>
                                    <input class="form-check-input" type="radio" name="bodyshape" value="55 and gaining belly fat"> 55 and gaining belly fat<br>
                                    <input class="form-check-input" type="radio" name="bodyshape" value="severely obese"> severely obese<br>
                                </div>
                    </fieldset>
                    <input type="submit" style="width: 50vmin; font-size: small;" class="btn btn-success btn-lg float-center mt-3" value="Save And Next">
                </form>
            </div>
            <div class="btn-box">
                <a href="/surveys/view8/<%= survey._id %>" class="btn btn-success btn-lg float-center mt-2" style="width: 50vmin; font-size: small;">Back</a>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>