<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/0Hy4SvR.png" alt="doctor standing with thumbs up">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center mr-10">
            <div class="text-box container display-4 text-center">
                <h2 id="balancehormones" style="font-size: 2.3rem;" class="lead text-center mb-4">Necessities of balancing your hormones</h2>
                <p style="font-size: 1.3rem;">This survey is to help you discover the reasons for any failure in your weight loss efforts. The results of this survey will be emailed to you along with your Metabolic Maximizer analysis from our experienced experts.</p>
            </div><br><br>
            <div class="btn-box">
                <form action="/" method="GET">
                    <input type="submit" style="width: 25vmin; font-size: small; text-align: center;" class="btn btn-success btn-lg float-center mr-4" value="Back">
                </form>
                <form action="/surveys/view3" method="GET">
                    <input type="submit" style="width: 40vmin; font-size: small; text-align: center;" class="btn btn-success btn-lg float-center ml-4" value="Fill out the form">
                </form>
            </div>
        </div>
    </div>


    <%- include('../partials/footer') %>