<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto" src="https://i.imgur.com/HNpd6SD.png" alt="doctor with two thumbs up">
        <div class="rightcontainerview">
            <h3>Scan the QR code below to access your Metabolism Maximizer report.</h3>
            <br>
            <img src="https://gist.githack.com/taniryla/ad50ffdf0be5de315c0ebbfdb74892f9/raw/fe90f2b74fef093442e090ecc047874918342759/freesaintqrcode.svg" alt="qr code for Metabolism Maximizer report">
        </div>
    </div>

    <%- include('../partials/footer') %>