<%- include('../partials/header') %>

<div class="containerView">
    <img class="containerViewPhoto" src="https://i.imgur.com/TiVVNVP.png" alt="doctor with arms folded">
    <div class="rightContainer">
        <div class="text-box">
            <form method="post" action="/surveys/view10">      
                <fieldset>
                    <legend>What best describes your body shape?<legend><br>            
                        <label>Height:</label>
                        <select name="height">
                          <option value="58">4'10"</option>
                          <option value="59">4'11"</option>
                          <option value="60">5'0"</option>
                          <option value="61">5'1"</option>
                          <option value="62">5'2"</option>
                          <option value="63">5'3"</option>
                          <option value="64">5'4"</option>
                          <option value="65">5'5"</option>
                          <option value="66">5'6"</option>
                          <option value="67">5'7"</option>
                          <option value="68">5'8"</option>
                          <option value="69">5'9"</option>
                          <option value="70">5'10"</option>
                          <option value="71">5'11"</option>
                          <option value="72">6'0"</option>
                          <option value="73">6'1"</option>
                          <option value="74">6'2"</option>
                          <option value="75">6'3"</option>
                          <option value="76">6'4"</option>
                          <option value="77">6'5"</option>
                          <option value="78">6'6"</option>
                          <option value="79">6'7"</option>
                          <option value="80">6'8"</option>
                          <option value="81">6'9"</option>
                          <option value="82">6'10"</option>
                          <option value="83">6'11"</option>
                          <option value="84">7'0"</option>
                          <option value="86">7'1"</option>
                          <option value="87">7'2"</option>
                          <option value="88">7'3"</option>
                          <option value="89">7'4"</option>
                          <option value="90">7'5"</option>
                        </select><br><br>
                        <label>Weight (lbs):</label>
                        <input type="number" name="weight" value="weight in pounds"> <br><br>
                        <!-- input formula for bmi * 18.5 for lowestWeight as the target weight-->
                        <label>Target Weight (lbs):</label>
                        <input type="number" name="targetWeight" value="target weight"><br>
                </fieldset>
            <br>
        </div>

            <button class="btn btn-success mb-3 mr-6 leftbtn" type="submit">Back
                <form action="./view9" method="POST"> 
                    <input type="submit">
                </form>
            </button>
            <button class="btn btn-success mb-3 ml-6 rightbtn" type="submit">Save
                <form action="./view11" method="POST"> 
                    <input type="submit">
                </form>
            </button>
        <div class="btn-box"></div>
        <button class="btn btn-success saveandnext">Save And Next
            <form action="./view11" method="POST"> 
                <input type="submit">
            </form>
        </button>
    </div>
</div>

<%- include('../partials/footer') %>