<%- include('../partials/header') %>

<form id="new-provider-form" action="/providers" method="POST">
  <label>Name:</label>
  <input type="text" name="name"><br><br>
  <label>Service:</label>
  <select name="service">
    <option value="Endocrinologist" selected>Endocrinologist</option>
    <option value="Health Coach">Health Coach</option>
    <option value="Nutritionist">Nutritionist</option>
    <option value="Accupunturist">Accupunturist</option>
    <option value="Personal Trainer">Personal Trainer</option>
    <option value="Embodiment Coach">Embodiment Coach</option>
    <option value="Sleep Expert">Sleep Expert</option>
  </select><br><br>
  <label>Email: </label>
  <input type="text" name="email"><br><br>
  <label>Address:</label><br>
  <section>
    <label>Street:</label>
    <input type="text" name="address.street"><br>
    <label>City:</label>
    <input type="text" name="address.city"><br>
    <label>State(i.e. CO):</label>
    <input type="text" name="address.state"><br>
    <label>Zip:</label>
    <input type="number" name="address.zip"><br>
  </section>
  <br><br>
  <button type="submit">Add Provider</button>
</form>

<%- include('../partials/footer') %>