<%- include('../partials/header') %>

<form id="new-provider-form" action="/providers/new" method="POST">
  <label>Name:</label>
  <input type="text" name="name"><br><br>
  <label>Service:</label>
  <select name="service">
    <option value="endocrinologist" selected>Endocrinologist</option>
    <option value="healthCoach">Health Coach</option>
    <option value="nutritionist">Nutritionist</option>
    <option value="accupunturist">Accupunturist</option>
    <option value="personalTrainer">Personal Trainer</option>
    <option value="embodiment">Embodiment Coach</option>
    <option value="sleepExpert">Sleep Expert</option>
  </select><br><br>
  <label>Email: </label>
  <input type="text" name="email"><br><br>
  <label>Address:</label><br>
  <section>
    <label>Street:</label>
    <input type="text" name="address.street"><br>
    <label>City:</label>
    <input type="text" name="address.city"><br>
    <label>State(i.e. CO):</label>
    <input type="text" name="address.state"><br>
    <label>Zip:</label>
    <input type="number" name="address.zip"><br>
  </section>
  <br><br>
  <button type="submit">Add Provider</button>
</form>

<%- include('../partials/footer') %>